.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.buttons button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: orange;
  padding: 5%;
  font-family: sans-serif;
  font-size: x-large;
  font-weight: 900;
}

.buttons button:hover {
  background-color: rgb(255, 187, 0);
}