
.headerfooter {
  background-color: rgba(255, 255, 255, 0.075);
  padding: 20px;
}

body {
  background: linear-gradient(35deg, rgb(3, 107, 82), rgb(6, 155, 120));
  color: white;
  font-weight: bold;
}

#logo-trybe {
  width: 150px;
  height: 150px;
  margin-bottom: 5%;
}

main {
  margin: 2% 15%;
  padding: 30px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.048);
}

div {
  margin: 10px auto;
}

#button {
  margin: 5% auto;
}